{% extends "::base.html.twig" %}

{% block heading_breadcrumbs %}
<div class="row-fluid breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Risk Warning</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active">Risk Warning</li>
        </ul>
    </div><!--/container-->
</div>
{% endblock %}

{% block content_part %}
<!--=== Content Part ===-->
<div class="container">		
    <div class="row-fluid privacy margin-bottom-30">

        <h4>Risk Warning</h4>

        <p>Risks are attached to every kind of investment. Past performance should not be taken as an indication or guarantee of future performance, and no representation or warranty, express or implied, is made regarding future performance. The value of investments can go down as well as up and you may not get back the money you invested. Rates of exchange may cause the value of investments to go up or down. For your protection, telephone calls maybe recorded for monitoring purposes.</p>

        <p>Equity investments always carry some element of risk. Investments in unquoted companies should be considered higher risk investments than fully listed securities or shares. Investors should be prepared to take a medium to long term view on these types of investments. Investments that are not readily realisable (INRR), for example, shares issued by unquoted smaller companies involve a potentially higher degree of risk that all or part of your investment will be lost. You may have difficulty selling INRR at a reasonable price and in some cases it may be difficult to sell at any price. Similarly, it may prove difficult for you to obtain reliable information about the value of such an investment, or the risks to which it is exposed.</p>

        <p>The investments and services contained or referred to in this Website may not be suitable for you and it is recommended that you consult an independent investment advisor if you are in doubt about such investments or investment services. Any research found on these pages has been procured and may have been acted on by Atlas Hostel PLC for its own purposes.</p>

        <p>This site is operated and issued by Atlas Hostel PLC which is not authorised and regulated by the Financial Services Authority. Atlas Hostel PLC is a company registered in England, No.07903930. Registered Office: 2ND FLOOR BERKLEY SQUARE HOUSE, BERKELEY SQUARE, LONDON, UNITED KINGDOM, W1J 6BD. General enquiries about this website should be sent to enquiries@atlashostelsplc.com . This email address should not be used for any enquiries relating to investments.</p>

    </div><!--/row-fluid-->        
</div><!--/container-->		
<!--=== End Content Part ===-->
{% endblock %}
     
 
