{% extends "::base.html.twig" %}

{% block heading_breadcrumbs %}
<div class="row-fluid breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Terms and Conditions</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active">Terms and Conditions</li>
        </ul>
    </div><!--/container-->
</div>
{% endblock %}

{% block content_part %}
<!--=== Content Part ===-->
<div class="container">		
    <div class="row-fluid privacy margin-bottom-30">

        <h4>Terms & Conditions</h4>

        <p>Atlas Hostels Plc ("” or the “Company”) is registered in England & Wales with company number: 07903930 . The Company’s registered and trading address is 2ND FLOOR BERKLEY SQUARE HOUSE, BERKELEY SQUARE, LONDON, UNITED KINGDOM, W1J 6BD.</p>
        <p>THESE TERMS AND CONDITIONS APPLY TO THE USE OF THIS WEBSITE www.atlashostelsplc.com</p>

        <p>BY ACCESSING THIS WEBSITE, YOU AGREE TO BE BOUND BY THESE TERMS AND CONDITIONS. </p>

        <p>USING THIS WEBSITE INDICATES THAT YOU ACCEPT THESE TERMS REGARDLESS OF WHETHER OR NOT YOU CHOOSE TO REGISTER WITH US OR ORDER FROM US.</p>

        <p>IF YOU DO NOT ACCEPT THESE TERMS, DO NOT USE THIS WEBSITE OR SERVICE.</p>

        <h4>INTRODUCTION</h4>

        <p>You will be able to access some areas of this Website without registering your details with us. Certain areas of this Website are only open to you if you register.</p>

        <p>1.2 We may revise these terms and conditions at any time by updating this posting. You should check this Website every time you use it, to review the then current terms and conditions, because they are binding on you. Certain provisions of these terms and conditions may be superseded by expressly designated legal notices or terms located on particular pages of this Website. The section titles in the terms and conditions are for convenience only and have no legal or contractual effect. If you do not wish to accept any new terms and conditions after we have given notice, you should not continue to use this Website. If any part of our terms and conditions is unenforceable (including any provision in which we exclude our liability to you) the enforceability of any other part of these conditions will not be affected.  DESCRIPTION OF SERVICE: You acknowledge and agree that the Service is provided "AS IS".</p>

        <h4>2. LICENCE</h4>

        <p>2.1 You are permitted to print and download extracts from this Website for your own use on the following basis:</p>
        <p>(a) no documents or related graphics on this Website are modified in any way;</p>
        <p>(b) no graphics on this Website are used separately from accompanying text; and</p>
        <p>(c) any of our copyright and trade mark notices and this permission notice appear in all copies.</p>

        <h4>3. COPYRIGHT</h4>

        <p>3.1 Unless otherwise stated, the copyright and other intellectual property rights in all material on this Website (including without limitation photographs and graphical images) are owned by us or our licensors. For the purposes of these terms and conditions, any use of extracts from this Website other than in accordance with clause 5.1 above for any purpose is prohibited. If you breach any of the terms in these terms and conditions, your permission to use this Website automatically terminates and you must immediately destroy any downloaded or printed extracts from this Website.</p>
        <p>3.2 Subject to clause 5.1, no part of this Website may be reproduced or stored in any other website or included in any public or private electronic retrieval system or service without our prior written permission. You may only print or cache temporary copies of the content for your own personal non-commercial use. You may not link to this site or frame it without the express consent of Atlas Hostels Plc.</p>
        <p>3.3 Atlas Hostels Plc and the Atlas Hostels Plc logo are trademarks registered in the name of Atlas Hostels Plc Ltd in the UK and other parts of the world. Reproduction of these trademarks other than in order to view this website is prohibited.</p>
        <p>3.4 Any rights not expressly granted in these terms are reserved.</p>

        <h4>4. SERVICE ACCESS</h4>

        <p>4.1 While we endeavour to ensure that this Website is normally available 24 hours a day, we will not be liable if for any reason this Website is unavailable at any time or for any period.</p>
        <p>4.2 Access to this Website may be suspended temporarily and without notice in the case of system failure, maintenance or repair or for reasons beyond our control.</p>

        <h4>5. VISITOR MATERIAL AND CONDUCT</h4>

        <p>5.1 Other than personally identifiable information, which is covered under the Privacy Policy, any material you transmit or post to this Website will be considered non-confidential and non-proprietary. We will have no obligations with respect to such material. We and our nominees will be free to copy, disclose, distribute, incorporate and otherwise use such material and all data, images, sounds, text and other things embodied therein for any and all commercial or non-commercial purposes.</p>
        <p>5.2 You are prohibited from posting or transmitting to or from this Website any material:</p>
        <p>(a) that is threatening, defamatory, obscene, indecent, seditious, offensive, pornographic, abusive, liable to incite racial hatred, discriminatory, menacing, scandalous, inflammatory, blasphemous, in breach of confidence, in breach of privacy or which may cause annoyance or inconvenience;</p>
        <p>(b) for which you have not obtained all necessary licences and/or approvals;</p>
        <p>(c) which constitutes or encourages conduct that would be considered a criminal offence, give rise to civil liability, or otherwise be contrary to the law of or infringe the rights of any third party, in the UK or any other country in the world; or</p>
        <p>(d) which is technically harmful (including, without limitation, computer viruses, logic bombs, Trojan horses, worms, harmful components, corrupted data or other malicious software or harmful data).</p>
        <p>5.3 You may not misuse the Website (including, without limitation, by hacking). </p>
        <p>5.4 We will fully co-operate with any law enforcement authorities or court order requesting or directing us to disclose the identity or locate anyone posting any material in breach of clauses 7.2 or 7.3.</p>

        <h4>6. LINKS TO AND FROM OTHER WEBSITES</h4>

        <p>6.1 Links to third party websites on this Website are provided solely for your convenience. If you use these links, you leave this Website. We have not reviewed all of these third party websites and do not control and are not responsible for these websites or their content or availability. We therefore do not endorse or make any representations about them, or any material found there, or any results that may be obtained from using them. If you decide to access any of the third party websites linked to this Website, you do so entirely at your own risk.</p>
        <p>6.2 If you would like to link to this Website, you may only do so on the basis that you link to, but do not replicate, the home page of this Website, and subject to the following conditions: </p>
        <p>(a) you do not remove, distort or otherwise alter the size or appearance of the Atlas Hostels Plc logo;</p>
        <p>(b) you do not create a frame or any other browser or border environment around this Website;</p>
        <p>(c) you do not in any way imply that we are endorsing any products or services;</p>
        <p>(d) you do not misrepresent your relationship with us nor present any other false information about us;</p>
        <p>(e) you do not otherwise use any trade marks displayed on this Website without our express written permission;</p>
        <p>(f) you do not link from a website that is not owned by you; and</p>
        <p>(g) your website does not contain content that is distasteful, offensive or controversial, infringes any intellectual property rights or other rights of any other person or otherwise does not comply with all applicable laws and regulations.</p>
        <p>We expressly reserve the right to revoke the right granted in this clause for breach of these terms and to take any action we deem appropriate.</p>
        <p>6.3 You shall fully indemnify us for any loss or damage we or any of our group companies may suffer or incur as a result of your breach of clause 8.2.</p>

        <h4>7. REGISTRATION</h4>

        <p>7.1 To register with www.atlashostelsplc.com you must be over eighteen years of age.</p>
        <p>7.2 Each registration is for a single user only. We do not permit you to share your user name and password with any other person nor with multiple users on a network.</p>
        <p>7.3 Responsibility for the security of any passwords issued rests with you and if you know or suspect that someone else knows your password, you should contact us immediately.</p>
        <p>7.4 We may suspend or cancel your registration immediately at our reasonable discretion or if you breach any of your obligations under these terms and conditions.</p>

        <h4>8. DISCLAIMER</h4>

        <p>8.1 While we endeavour to ensure that the information on this Website is correct, we do not warrant the accuracy and completeness of the material on this Website. We may make changes to the material on this Website, or to the products and prices described in it, at any time without notice. The material on this Website may be out of date, and we make no commitment to update such material.</p>
        <p>8.2 The material on this Website is provided "as is" without any conditions, warranties or other terms of any kind. Accordingly, to the maximum extent permitted by law, we provide you with this Website on the basis that we exclude all representations, warranties, conditions and other terms (including, without limitation, the conditions implied by law of satisfactory quality, fitness for purpose and the use of reasonable care and skill) which but for these terms and conditions might have effect in relation to this Website. </p>
        <p>8.3 Nothing on this website shall be regarded or taken as financial advice.</p>

        <h4>9. LIABILITY</h4>

        <p>9.1 We, any other party (whether or not involved in creating, producing, maintaining or delivering this Website), and any of our group companies and the officers, directors, employees, shareholders or agents of any of them, exclude all liability and responsibility for any amount or kind of loss or damage that may result to you or a third party (including without limitation, any direct, indirect, punitive or consequential loss or damages, or any loss of income, profits, goodwill, data, contracts, use of money, or loss or damages arising from or connected in any way to business interruption, and whether in tort (including without limitation negligence), contract or otherwise) in connection with this Website in any way or in connection with the use, inability to use or the results of use of this Website, any websites linked to this Website or the material on such websites, including but not limited to loss or damage due to viruses that may infect your computer equipment, software, data or other property on account of your access to, use of, or browsing this Website or your downloading of any material from this Website or any websites linked to this Website. </p>
        <p>9.2 Nothing in these terms and conditions shall exclude or limit our liability for (i) death or personal injury caused by negligence (as such term is defined by the Unfair Contract Terms Act 1977); (ii) any liability which cannot be excluded or limited under applicable law.</p>
        <p>9.21 YOU ACKNOWLEDGE THAT YOU ARE SOLELY RESPONSIBLE FOR THE USE TO WHICH YOU PUT THIS WEBSITE AND ALL THE RESULTS AND INFORMATION YOU OBTAIN FROM IT AND THAT ALL WARRANTIES, CONDITIONS, UNDERTAKINGS, REPRESENTATIONS AND TERMS WHETHER EXPRESSED OR IMPLIED, STATUTORY OR OTHERWISE ARE HEREBY EXCLUDED TO THE FULLEST EXTENT PERMITTED BY LAW.</p>
        <p>9.22 Save in respect of liability for death or personal injury arising out of negligence or for fraudulent misrepresentation, we and all contributors to this website hereby disclaim to the fullest extent permitted by law all liability for any loss or damage including any consequential or indirect loss or damage incurred by you, whether arising in tort, contract or otherwise, and arising out of or in relation to or in connection with your access to or use of or inability to use this website.</p>
        <p>9.3 If your use of material on this Website results in the need for servicing, repair or correction of equipment, software or data, you assume all costs thereof.</p>
        <p>9.4 You agree to indemnify us fully, defend and hold us, and our officers, directors, employees and agents, harmless from and against all claims, liability, damages, losses, costs (including reasonable legal fees) arising out of any breach of the terms and conditions by you, or your use of this Website, or the use by any other person using your registration details.</p>
        <p>9.5 Although Atlas Hostels Plc publishes the information on this site in good faith, it does not accept responsibility for any descriptions of property or land herein - anyone viewing property or land details is recommended to verify the details with the property owner. Users of this site do so entirely at their own risk and Atlas Hostels Plc shall not be responsible for any loss or costs incurred as a result of using this site.</p>
        <p>9.6 The information contained on this site is published in good faith but no representation or warranty, express or implied, is made by Atlas Hostel PLC or by any person as to its accuracy or completeness and it should not be relied on as such. No information on this site constitutes investment, tax, legal or any other advice. Investors should consider all risks carefully prior to investing. If you are unsure about the meaning of any information provided please consult your financial or other professional adviser.</p>
        <p>9.7 YOU AGREE THAT REGARDLESS OF ANY STATUTE OR LAW TO THE CONTRARY, ANY CLAIM OR CAUSE OF ACTION ARISING OUT OF OR RELATED TO USE OF THE SERVICE OF THESE TERMS OF SERVICE MUST BE FILED WITHIN ONE (1) YEAR AFTER SUCH CLAIM OR CAUSE OF ACTION AROSE OR BE FOREVER BARRED.</p>

        <h4>10. GOVERNING LAW AND JURISDICTION</h4>

        <p>10.1 These terms and conditions and your use of this website are governed exclusively by English law and any disputes arising from or in connection with these terms and conditions and your use of this website shall be subject to the exclusive jurisdiction of the courts of England and Wales.</p>

        <p>10.2 We do not warrant that materials/items for sale on the Website are appropriate or available for use outside the United Kingdom. It is prohibited to access the Website from territories where its contents are illegal or unlawful. If you access this Website from locations outside the United Kingdom, you do so at your own risk and you are responsible for compliance with local laws.</p>

        <h4>11. Data Protection Act 1998 (the Act)</h4>

        <p>Atlas Hostels Plc takes the security and privacy of its contacts about whom it holds personal information extremely seriously. The Group follows strict security procedures in the storage and disclosure of personal information given to us in order to prevent unauthorised access. </p>

        <p>Personal Data is held on our contacts and administration database either because of work we have undertaken or are currently engaged in, or because our contacts have indicated that they would be interested in receiving material from us about our business and services. To that end we hold contact details and the history of our contacts relationship. This allows us to manage our relationships effectively and target items of interest so that contacts do not receive unwanted material through the post. </p>

        <p>In accordance with their rights under the Act, contacts may request the amendment of the personal information held and to cease receiving direct marketing materials.</p>

        <p>Atlas Hostels Plc does not sell, rent or otherwise deal in the personal information we hold with third parties. Information may, in the ordinary course of business, move between different companies in the Atlas Hostels Plc group or to our contractors, which may involve the transfer of data outside the European Economic Area.</p>

        <p>Should such transfer prove necessary, we will always ensure that all members of the Atlas Hostels Plc Group abide by security and privacy policies which provide at least the level of protection afforded to data subjects in the United Kingdom.</p>

        <p>We may also want to provide you with related information from third parties which we think may be of interest to you or whose products or services may be of interest to you. If you do not wish to receive this information please inform us at enquiries@atlashostelsplc.com</p>

        <h4>12. MISCELLANEOUS</h4>

        <p>12.1 You may not assign, sub-license or otherwise transfer any of your rights under these terms and conditions.</p>
        <p>12.2 Only the parties to these terms and conditions may seek to enforce them under the Contracts (Rights of Third Parties) Act 1999.</p>

        <h4>13. Governing Law</h4>

        <p>These terms & conditions and any matter relating to the use of this website shall be governed and construed in accordance with the laws of England and Wales. Any dispute relating the use of this website will be subject to the exclusive jurisdiction of the courts of England and Wales.</p>

        <p>FURTHER INFORMATION</p>

        <p>14. If You have any questions about Our Privacy Policy, the Terms of Use or any other aspect of this website please contact us at:</p>

        <h4>ATLAS HOSTELS PLC, 2ND FLOOR BERKLEY SQUARE HOUSE, BERKELEY SQUARE, LONDON, UNITED KINGDOM, W1J 6BD</h4>

        <p>Telephone: 0800 122 3455</p>
        <p>E-mail: enquiries@atlashostelsplc.com</p> 
        <p>Office Opening Times: 9.00am - 5.00pm</p>

    </div><!--/row-fluid-->        
</div><!--/container-->		
<!--=== End Content Part ===-->
{% endblock %}
    